.noImg {
  margin: 0 auto;
  width: 200px;
}

.categories_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding-bottom: 40px;

  @media screen and (min-width: 480px) {
    padding-bottom: 68px;
  }
  @media screen and (min-width: 768px) {
    justify-content: left;
  }
}

.modal_container {
  position: relative;
  width: 681px;
  padding: 32px;
  border-radius: 40px;
  background-color: #fff;
}
.content_container {
  display: flex;
}
.info_container {
  margin-left: 24px;
}
.img_container {
  width: 262px;
}
.img {
  width: 100%;
  height: 288px;
  object-fit: cover;
  border-radius: 0px 0px 40px 40px;
}
.title {
  color: #000;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
}
.list_info__item {
  width: 250px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  display: flex;
}
.list_info__item:not(:first-child) {
  margin-top: 8px;
}
.characteristics {
  height: min-content;
  display: flex;
  width: 100px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.link {
  margin-left: 20px;
  color: #ffc107;
  text-decoration: underline;
}
.value {
  margin-left: 20px;
}
.list_info {
  margin-top: 20px;
}
.comments {
  margin-top: 28px;
  text-align: left;
  align-items: baseline;
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.buttons_container {
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
}
.button_add {
  margin-right: 17px;
  display: flex;
  width: 129px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 40px;
  background-color: #54adff;

  color: #fef9f9;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}
.button_contact {
  background-color: white;
  display: flex;
  width: 129px;
  height: 40px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  border: 2px solid #54adff;

  color: #54adff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}
.icon {
  color: white;
  width: 24px;
  height: 24px;
}
.positional_container {
  position: relative;
}
.category_container {
  display: flex;
  position: absolute;
  top: 16px;
  z-index: 1;
}
.category_text {
  display: flex;
  padding: 11px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 0px 16px 16px 0px;
  background-color: #cce4fb;

  color: #111;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.close_modal_button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  background-color: rgba(84, 173, 255, 0);
}
.icon_close {
  width: 24px;
  height: 24px;
  color: #54adff;
}
/* modal_styles */
.modal_container_log_reg {
  width: 608px;
  padding: 40px 60px;
  position: relative;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}

.title_modal {
  text-align: center;
  color: #111;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.44px;
}
.text_modal {
  margin-top: 40px;
  color: #111;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.8px;
}
.buttons__container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.button_reg_log {
  display: flex;
  width: 165px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  border: 2px solid #ffc107;
  background-color: #ffc107;

  color: #fef9f9;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}
.button_white {
  background-color: white;
  color: #ffc107;
}
.icon_modal {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}
.button_close_modal {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: rgba(84, 173, 255, 0);
}

@media screen and (max-width: 768px) {
  .modal_container {
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    width: 280px;
    padding: 24px;
  }
  .content_container {
    flex-wrap: wrap;
  }
  .img_container {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .info_container {
    margin-top: 20px;
  }
  .title {
    text-align: left;
    color: #000;
    font-size: 24px;
    letter-spacing: -0.24px;
  }
  .info_container {
    margin-left: 0;
  }
  .comments {
    color: #000;
    margin-top: 13px;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
  }
  .buttons_container {
    margin-top: 13px;
    flex-wrap: wrap;
  }
  .button_add {
    width: 100%;
    margin-right: 0;
  }
  .button_contact {
    width: 100%;
    margin-top: 8px;
  }
  .close_modal_button {
    top: 2px;
    right: 2px;
  }
}
